@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@600;700;800&display=swap");

:root {
  --c-black: #000;
  --c-white: #fff;
  --c-grey: #787878;
  --c-primary: #038dfb;
  --c-primary-lighter: #4bafff;
  --c-secondary: #05050f;
  --c-tertiary: #13132b;
  --c-quaternary: #ebeffa;
  --c-quinary: #242468;
  --c-warning: #ffad41;
  --c-success: #5efa59;
  --c-danger: #ff4241;
  --c-info: #5a09d9;
  --c-info-alternative: #ca29f0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  @apply h-full;
}

body {
  @apply bg-black text-white text-left;
}

#app {
  @apply w-full h-full;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s ease-in-out;
}

.fade-enter, 
.fade-leave-to {
  opacity: 0;
}

/* -------------------------- */
/* Animations */

@keyframes fade-in {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

@keyframes beat {
  0% { transform: scale(1) }
  100% { transform: scale(1.1) }
}

.anim-fade-in {
  animation: fade-in .5s ease-in-out;
}

.anim-beat {
  animation: beat .25s infinite alternate;
  transform-origin: center;
}