@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@600;700;800&display=swap");

:root {
  --c-black: #000;
  --c-white: #FFF;
  --c-grey: #787878;
  --c-primary: #038DFB;
  --c-primary-lighter: #4BAFFF;
  --c-secondary: #05050F;
  --c-tertiary: #13132B;
  --c-quaternary: #EBEFFA;
  --c-quinary: #242468;
  --c-warning: #FFAD41;
  --c-success: #5EFA59;
  --c-danger: #FF4241;
  --c-info: #5A09D9;
  --c-info-alternative: #CA29F0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  @apply h-full;
}

body {
  @apply bg-black text-white text-left;
}

#app {
  @apply w-full h-full;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s ease-in-out;
}

.fade-enter, 
.fade-leave-to {
  opacity: 0;
}

/* -------------------------- */
/* Animations */

@keyframes fade-in {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

@keyframes fade-out {
  0% { opacity: 1 }
  100% { opacity: 0 }
}

@keyframes slide-in-top {
  0% { transform: translateY(-24px); }
  100% { transform: translateY(0); }
}

@keyframes slide-in-bottom {
  0% { transform: translateY(24px); }
  100% { transform: translateY(0); }
}

@keyframes slide-fade-in-top {
  0% { 
    opacity: 0;
    transform: translateY(-24px); 
  }
  100% { 
    opacity: 1;
    transform: translateY(0); 
  }
}

@keyframes slide-fade-in-bottom {
  0% { 
    opacity: 0;
    transform: translateY(24px); 
  }
  100% { 
    opacity: 1;
    transform: translateY(0); 
  }
}

@keyframes scale-in {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}

@keyframes scale-out {
  0% { transform: scale(1); }
  100% { transform: scale(0); }
}

@keyframes beat {
  0% { transform: scale(1) }
  100% { transform: scale(1.1) }
}

.anim-fade-in {
  animation: fade-in .5s ease-in-out;
}

.anim-fade-out {
  animation: fade-out .5s ease-in-out;
}

.anim-slide-in-top {
  animation: slide-in-top .5s ease-in-out;
}

.anim-slide-in-bottom {
  animation: slide-in-bottom .5s ease-in-out;
}

.anim-scale-in {
  animation: scale-in .2s ease-in-out;
}

.anim-scale-out {
  animation: scale-out .2s ease-in-out;
}

.anim-beat {
  animation: beat .25s infinite alternate;
  transform-origin: center;
}